@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

body {
    overflow-y: hidden;
}

.container {
    width: 100vw;
    height: 95vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    height: 10%;
    width: 30vw;
}

.form-label {
    font-weight: bold;
    height: 10%;
}

.form-range {
    height: 70%;
}

.title {
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    vertical-align: 1rem;
}

#tickmarks {
    color: black;
}

input {
    transition: 0.3s ease-in;
}

#title-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.bot-logo {
    position: absolute;
    left: 0;
   scale: 0.2;
}
