@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

body {
    overflow-y: hidden;
}

.container {
    width: 100vw;
    height: 95vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    height: 10%;
    width: 30vw;
}

.servo-control-range {
    width: 30vw;
}

.sweep-button-div {
    display: flex;
    align-items: center;
}

.sweep-button {
    height: fit-content;
    margin-bottom: 3vh;
    margin-left: 0.5vw;
}

.form-label {
    font-weight: bold;
    height: 10%;
}

.form-range {
    height: 70%;
}

.title {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.subtitle {
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    vertical-align: 1rem;
    white-space: nowrap;
}

#logo-etec {
    width: 25%;
}

#tickmarks {
    color: black;
}

#macro {
    width: 30vw;
}

#macro-button {
    width: 100%;
}

#macro-row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.middle-button {
    padding-right: 1rem;
    padding-left: 1rem;
}

input {
    transition: 0.3s ease-in;
}

#title-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.bot-logo {
    position: absolute;
    left: 0;
   scale: 0.2;
}
